.body-controller {
  position: relative;
}

.body-controller .cart-container.visible {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  height: 100%;
  z-index: 9;
}

@media screen and (min-width: 992px) {
  .body-controller {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .body-controller .main-body-container {
    width: 100%;
    transition: 0.3s;
    overflow-y: scroll;
  }

  .body-controller .main-body-container.shrinked {
    width: 70%;
  }

  .body-controller .cart-container {
    width: 0%;
    transition: all 0.3s;
    overflow: hidden;
  }

  .body-controller .cart-container.visible {
    width: 30%;
    box-shadow: -2px 0 10px 0 #00000010;
    position: unset;
  }
}

::-webkit-scrollbar {
  display: none;
}

.row {
  margin: 0;
  padding: 0;
}
